{% extends "base.html" %}
{% load static %}

{% block add_styles %}
    {{ block.super }}
    .chosen-container {
    width: 70% !important;
    }
    .editor-toolbar, .editor-statusbar, .editor-preview-side, .CodeMirror {
    width: 70% !important;
    }
{% endblock %}
{% block add_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'easymde/dist/easymde.min.css' %}">
    <link rel="stylesheet" href="{% static 'dojo/css/owasp_risk_calc.css' %}">
{% endblock %}
{% block content %}
    {{ block.super }}
    <h3> Risk Assessment</h3>
    <div id="risk_assessment">
        <p>
        </p>
        <p>
            A risk assessment can be performed using OWASP risk methodlogy.
        </p>
        <br/>
        <form id="add_risk_assessment" enctype="multipart/form-data" class="form-horizontal" method="post" action="">
            {% csrf_token %}
            
            {% include "dojo/form_fields_custom.html" with form=form %}
            
            <br/><br/>
            <!-- Submit button -->
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input class="btn btn-primary" type="submit" value="Save"/>
                </div>
            </div>
            <br/><br/>
        </form>  
    </div>
{% endblock %}
{% block postscript %}
    {{ block.super }}
<script type="application/javascript" src="{% static 'easymde/dist/easymde.min.js' %}"></script>
<script type="text/javascript">
    $("#add_risk_assessment textarea").each(function (index, elem) {
        if (elem.id != 'id_threat_description' && elem.id != 'id_risk_statement'  && elem.id != 'finding_mitigation' && elem.id != 'id_rational_and_action' && elem.id != 'id_related_hazard_item' && elem.id != 'id_recommendation' && elem.id != 'id_vulneraiblity_cause') {
            if (elem.hasAttribute("required")) {
                elem.removeAttribute("required");
                elem.id = "req"
            }

            var mde = new EasyMDE({
                spellChecker: false,
                element: elem,
                autofocus: false,
                forceSync: true,
                toolbar: ["bold", "italic", "heading", "|",
                    "quote", "unordered-list", "ordered-list", "|",
                    "link", "image", "|",
                    "table", "horizontal-rule", "code", "|",
                    "guide"
                ]
            });
            mde.render();
        }
    });
</script>
{% endblock %}