<fieldset id="business_risk_calculator">
    <fieldset id="businessriskscoregroup">
        <legend id="businessriskscoregroup_Legend">Business Risk Score</legend>

        <!-- Column Left - Likelihood and Financial Impact -->
        <div class="column column-left">
            <div class="metric">
                <h3 id="Finance_Heading">Finance</h3>
                <div class="rating-group">
                    <button type="button" name="Finance" value="0" data-factor="FinancialDamage" class="btn-scale btn-scale-asc-0">0</button>
                    <button type="button" name="Finance" value="1" data-factor="FinancialDamage" class="btn-scale btn-scale-asc-1">1</button>
                    <button type="button" name="Finance" value="2" data-factor="FinancialDamage" class="btn-scale btn-scale-asc-2">2</button>
                    <button type="button" name="Finance" value="3" data-factor="FinancialDamage" class="btn-scale btn-scale-asc-3">3</button>
                    <button type="button" name="Finance" value="4" data-factor="FinancialDamage" class="btn-scale btn-scale-asc-4">4</button>
                    <button type="button" name="Finance" value="5" data-factor="FinancialDamage" class="btn-scale btn-scale-asc-5">5</button>
                    <button type="button" name="Finance" value="6" data-factor="FinancialDamage" class="btn-scale btn-scale-asc-6">6</button>
                    <button type="button" name="Finance" value="7" data-factor="FinancialDamage" class="btn-scale btn-scale-asc-7">7</button>
                    <button type="button" name="Finance" value="8" data-factor="FinancialDamage" class="btn-scale btn-scale-asc-8">8</button>
                    <button type="button" name="Finance" value="9" data-factor="FinancialDamage" class="btn-scale btn-scale-asc-9">9</button>
                </div>
            </div>

            <div class="metric">
                <h3 id="Reputation_Heading">Reputation</h3>
                <div class="rating-group">
                    <button type="button" name="Reputation" value="0" data-factor="ReputationDamage" class="btn-scale btn-scale-asc-0">0</button>
                    <button type="button" name="Reputation" value="1" data-factor="ReputationDamage" class="btn-scale btn-scale-asc-1">1</button>
                    <button type="button" name="Reputation" value="2" data-factor="ReputationDamage" class="btn-scale btn-scale-asc-2">2</button>
                    <button type="button" name="Reputation" value="3" data-factor="ReputationDamage" class="btn-scale btn-scale-asc-3">3</button>
                    <button type="button" name="Reputation" value="4" data-factor="ReputationDamage" class="btn-scale btn-scale-asc-4">4</button>
                    <button type="button" name="Reputation" value="5" data-factor="ReputationDamage" class="btn-scale btn-scale-asc-5">5</button>
                    <button type="button" name="Reputation" value="6" data-factor="ReputationDamage" class="btn-scale btn-scale-asc-6">6</button>
                    <button type="button" name="Reputation" value="7" data-factor="ReputationDamage" class="btn-scale btn-scale-asc-7">7</button>
                    <button type="button" name="Reputation" value="8" data-factor="ReputationDamage" class="btn-scale btn-scale-asc-8">8</button>
                    <button type="button" name="Reputation" value="9" data-factor="ReputationDamage" class="btn-scale btn-scale-asc-9">9</button>
                </div>
            </div>

            <div class="metric">
                <h3 id="RegulatoryNonCompliance_Heading">Regulatory Non-Compliance</h3>
                <div class="rating-group">
                    <button type="button" name="RegulatoryNonCompliance" value="0" data-factor="RegulatoryNonCompliance" class="btn-scale btn-scale-asc-0">0</button>
                    <button type="button" name="RegulatoryNonCompliance" value="1" data-factor="RegulatoryNonCompliance" class="btn-scale btn-scale-asc-1">1</button>
                    <button type="button" name="RegulatoryNonCompliance" value="2" data-factor="RegulatoryNonCompliance" class="btn-scale btn-scale-asc-2">2</button>
                    <button type="button" name="RegulatoryNonCompliance" value="3" data-factor="RegulatoryNonCompliance" class="btn-scale btn-scale-asc-3">3</button>
                    <button type="button" name="RegulatoryNonCompliance" value="4" data-factor="RegulatoryNonCompliance" class="btn-scale btn-scale-asc-4">4</button>
                    <button type="button" name="RegulatoryNonCompliance" value="5" data-factor="RegulatoryNonCompliance" class="btn-scale btn-scale-asc-5">5</button>
                    <button type="button" name="RegulatoryNonCompliance" value="6" data-factor="RegulatoryNonCompliance" class="btn-scale btn-scale-asc-6">6</button>
                    <button type="button" name="RegulatoryNonCompliance" value="7" data-factor="RegulatoryNonCompliance" class="btn-scale btn-scale-asc-7">7</button>
                    <button type="button" name="RegulatoryNonCompliance" value="8" data-factor="RegulatoryNonCompliance" class="btn-scale btn-scale-asc-8">8</button>
                    <button type="button" name="RegulatoryNonCompliance" value="9" data-factor="RegulatoryNonCompliance" class="btn-scale btn-scale-asc-9">9</button>
                </div>
            </div>

            <div class="metric">
                <h3 id="CustomerNonCompliance_Heading">Customer Non-Compliance</h3>
                <div class="rating-group">
                    <button type="button" name="CustomerNonCompliance" value="0" data-factor="CustomerNonCompliance" class="btn-scale btn-scale-asc-0">0</button>
                    <button type="button" name="CustomerNonCompliance" value="1" data-factor="CustomerNonCompliance" class="btn-scale btn-scale-asc-1">1</button>
                    <button type="button" name="CustomerNonCompliance" value="2" data-factor="CustomerNonCompliance" class="btn-scale btn-scale-asc-2">2</button>
                    <button type="button" name="CustomerNonCompliance" value="3" data-factor="CustomerNonCompliance" class="btn-scale btn-scale-asc-3">3</button>
                    <button type="button" name="CustomerNonCompliance" value="4" data-factor="CustomerNonCompliance" class="btn-scale btn-scale-asc-4">4</button>
                    <button type="button" name="CustomerNonCompliance" value="5" data-factor="CustomerNonCompliance" class="btn-scale btn-scale-asc-5">5</button>
                    <button type="button" name="CustomerNonCompliance" value="6" data-factor="CustomerNonCompliance" class="btn-scale btn-scale-asc-6">6</button>
                    <button type="button" name="CustomerNonCompliance" value="7" data-factor="CustomerNonCompliance" class="btn-scale btn-scale-asc-7">7</button>
                    <button type="button" name="CustomerNonCompliance" value="8" data-factor="CustomerNonCompliance" class="btn-scale btn-scale-asc-8">8</button>
                    <button type="button" name="CustomerNonCompliance" value="9" data-factor="CustomerNonCompliance" class="btn-scale btn-scale-asc-9">9</button>
                </div>
            </div>

            <div class="metric">
                <h3 id="PrivacyViolation_Heading">Privacy Violation</h3>
                <div class="rating-group">
                    <button type="button" name="PrivacyViolation" value="0" data-factor="PrivacyViolation" class="btn-scale btn-scale-asc-0">0</button>
                    <button type="button" name="PrivacyViolation" value="1" data-factor="PrivacyViolation" class="btn-scale btn-scale-asc-1">1</button>
                    <button type="button" name="PrivacyViolation" value="2" data-factor="PrivacyViolation" class="btn-scale btn-scale-asc-2">2</button>
                    <button type="button" name="PrivacyViolation" value="3" data-factor="PrivacyViolation" class="btn-scale btn-scale-asc-3">3</button>
                    <button type="button" name="PrivacyViolation" value="4" data-factor="PrivacyViolation" class="btn-scale btn-scale-asc-4">4</button>
                    <button type="button" name="PrivacyViolation" value="5" data-factor="PrivacyViolation" class="btn-scale btn-scale-asc-5">5</button>
                    <button type="button" name="PrivacyViolation" value="6" data-factor="PrivacyViolation" class="btn-scale btn-scale-asc-6">6</button>
                    <button type="button" name="PrivacyViolation" value="7" data-factor="PrivacyViolation" class="btn-scale btn-scale-asc-7">7</button>
                    <button type="button" name="PrivacyViolation" value="8" data-factor="PrivacyViolation" class="btn-scale btn-scale-asc-8">8</button>
                    <button type="button" name="PrivacyViolation" value="9" data-factor="PrivacyViolation" class="btn-scale btn-scale-asc-9">9</button>
                </div>
            </div>

            <div class="metric">
                <h3 id="BusinessLikelihood_Heading">Business Likelihood</h3>
                <div class="rating-group">
                    <button type="button" name="BusinessLikelihood" value="VL" data-factor="BusinessLikelihood" class="btn-business-likelihood btn-business-likelihood-verylow">Very Low</button>
                    <button type="button" name="BusinessLikelihood" value="L" data-factor="BusinessLikelihood" class="btn-business-likelihood btn-business-likelihood-low">Low</button>
                    <button type="button" name="BusinessLikelihood" value="M" data-factor="BusinessLikelihood" class="btn-business-likelihood btn-business-likelihood-medium">Medium</button>
                    <button type="button" name="BusinessLikelihood" value="H" data-factor="BusinessLikelihood" class="btn-business-likelihood btn-business-likelihood-high">High</button>
                    <button type="button" name="BusinessLikelihood" value="VH" data-factor="BusinessLikelihood" class="btn-business-likelihood btn-business-likelihood-veryhigh">Very High</button>
                </div>
            </div>
        </div>

        <!-- Display Residual Risk Score and Severity -->
        <div id="business_risk_score" class="business_risk_score risk_score">
            <p class="needBaseMetrics">Select values for all base metrics to generate score</p>
            <span id="BusinessRiskScore" class="ScoreValue"></span>
            <span id="BusinessRiskSeverity" class="ScoreSeverity"></span>
        </div>
    </fieldset>
    <div class="end"></div>
</fieldset>
