
<fieldset  id="initial_risk_calculator">
    <fieldset id="InitialRiskGroup">
        <legend id="InitialRiskGroup_Legend"> Initial Risk</legend>
        <div class="column column-left">
            <div class="metric_agent">
                <h4 id="ThreatAgent_Heading">Threat Agents
                        <i class="fa-solid fa-circle-question has-popover small-help-icon" data-trigger="hover" data-html="true" data-content="Select the relevent threat agents" data-placement="right" data-container="body">
                    </i>
                </h4>
                
                <input name="securityresearcher" value="SR" id="id_securityresearcher" type="checkbox">
                <label for="id_securityresearcher" id="securityresearcher_label" class="has-popover" data-trigger="hover" data-html="true" data-content="Skilled person focused on in-depth evaluation of the system to expose IT vulnerabilities to vendor, regulators, security community and general public. Also known as a white hat hacker." data-placement="right" data-container="body">
                    <i class="fas fa-user-secret"></i> 
                    Security Researcher
                </label>

                <input name="advanced_network_threat" value="ANT" id="id_advanced_network_threat" type="checkbox">
                <label for="id_advanced_network_threat" id="advanced_network_threat_label" class="has-popover" data-trigger="hover" data-html="true" data-content="Highly advanced/automated (persistent) attack of (non-)specific networks by hackers and malware without motive to specifically attack this device." data-placement="right" data-container="body">
                    <i class="fas fa-network-wired"></i> Advanced Network Threat
                </label>

                <input name="outsider" value="OS" id="id_outsider" type="checkbox">
                <label for="id_outsider" id="outsider_label" class="has-popover" data-trigger="hover" data-html="true" data-content="Person (potentially skilled attacker) with targeted malicious intent, trying to do damage or gain benefit from exploring or attacking the system(s)." data-placement="right" data-container="body">
                    <i class="fas fa-user-alt-slash"></i> Outsider
                </label>

                <input name="hardware_defects" value="HD" id="id_hardware_defects" type="checkbox">
                <label for="id_hardware_defects" id="hardware_defects_label" class="has-popover" data-trigger="hover" data-html="true" data-content="Hardware defects which might endanger the confidentiality, integrity and availability of the assets." data-placement="right" data-container="body">
                    <i class="fas fa-tools"></i> Hardware Defects
                </label>

                <input name="software_defects" value="SD" id="id_software_defects" type="checkbox">
                <label for="id_software_defects" id="software_defects_label" class="has-popover" data-trigger="hover" data-html="true" data-content="Software defects which might endanger the confidentiality, integrity and availability of the assets." data-placement="right" data-container="body">
                    <i class="fas fa-code"></i> Software Defects
                </label>

                <input name="intruder" value="IR" id="id_intruder" type="checkbox">
                <label for="id_intruder" id="intruder_label" class="has-popover" data-trigger="hover" data-html="true" data-content="This person includes any of the above actors outside their normal scope; an intruder is not assumed to do any action accidentally (also known as a black hat hacker)." data-placement="right" data-container="body">
                    <i class="fas fa-user-ninja"></i> Intruder
                </label>

                <input name="malicious_code" value="MC" id="id_malicious_code" type="checkbox">
                <label for="id_malicious_code" id="malicious_code_label" class="has-popover" data-trigger="hover" data-html="true" data-content="Malicious code introduced during development or malware." data-placement="right" data-container="body">
                    <i class="fas fa-bug"></i> Malicious Code
                </label>

                <input name="infrastructure_outage" value="IO" id="id_infrastructure_outage" type="checkbox">
                <label for="id_infrastructure_outage" id="infrastructure_outage_label" class="has-popover" data-trigger="hover" data-html="true" data-content="Telecommunications, electric power" data-placement="right" data-container="body">
                    <i class="fas fa-server"></i> Infrastructure Outage
                </label>

                <input name="insider" value="IS" id="id_insider" type="checkbox">
                <label for="id_insider" id="insider_label" class="has-popover" data-trigger="hover" data-html="true" data-content="Customer personnel, not skilled attacker but trying to gain professional benefit" data-placement="right" data-container="body">
                    <i class="fas fa-user-friends"></i> Insider
                </label>

                <input name="trusted_insider" value="TIS" id="id_trusted_insider" type="checkbox">
                <label for="id_trusted_insider" id="trusted_insider_label" class="has-popover" data-trigger="hover" data-html="true" data-content="Customer personnel, IT or System Admins, IT savvy, not skilled attacker but trying to gain professional benefit" data-placement="right" data-container="body"">
                    <i class="fas fa-shield-alt"></i> Trusted Insider
                </label>

                <input name="clinical_users" value="CU" id="id_clinical_users" type="checkbox">
                <label for="id_clinical_users" id="clinical_users_label" class="has-popover" data-trigger="hover" data-html="true" data-content="A person who uses both the application and field service clinical UI." data-placement="right" data-container="body">
                    <i class="fas fa-user-md"></i> Clinical Users
                </label>

                <input name="system_admins" value="SA" id="id_system_admins" type="checkbox">
                <label for="id_system_admins" id="system_admins_label" class="has-popover" data-trigger="hover" data-html="true" data-content="Person who is allowed to perform basic administrative tasks on the system (includes biomeds)." data-placement="right" data-container="body">
                    <i class="fas fa-user-cog"></i> System Admins
                </label>

                <input name="natural_or_man_made_disaster" value="ND" id="id_natural_or_man_made_disaster" type="checkbox">
                <label for="id_natural_or_man_made_disaster" id="natural_or_man_made_disaster_label" class="has-popover" data-trigger="hover" data-html="true" data-content="Fire, Flood, Windstorm, Hurricane, Earthquake, Bombing, Overrun,…." data-placement="right" data-container="body">
                    <i class="fas fa-globe"></i> Natural or Man-made Disaster
                </label>

                <input name="engineer" value="ENG" id="id_engineer" type="checkbox">
                <label for="id_engineer" id="engineer_label" class="has-popover" data-trigger="hover" data-html="true" data-content="An authorized engineer/employee, who is responsible to service the system, uses both clinical and (nonclinical) field service UI.An authorized engineer/employee, who is responsible to service the system, uses both clinical and (nonclinical) field service UI." data-placement="right" data-container="body">
                    <i class="fas fa-cogs"></i> Engineer
                </label>

                <input name="automated_or_remote_access" value="ARA" id="id_automated_or_remote_access" type="checkbox">
                <label for="id_automated_or_remote_access" id="automated_or_remote_access_label" class="has-popover" data-trigger="hover" data-html="true" data-content="Automated system access from other systems e.g. third party integrations. Remote access within intended use." data-placement="right" data-container="body">
                    <i class="fas fa-robot"></i> Automated or Remote Access
                </label>

            
                <input name="agent_none" value="NONE" id="id_agent_none" type="checkbox">
                <label for="id_agent_none" id="id_agent_none_label">
                    <i class="fas fa-times-circle"></i> None
                </label>
            </div>
            

            <div class="metric_asset">
                <h4 id="TechnicalAssets_Heading">Technical Assets
                    <i class="fa-solid fa-circle-question has-popover small-help-icon" data-trigger="hover" data-html="true" data-content="Allows you to indicate here the assets that are affected." data-placement="right" data-container="body">
                    </i>
                </h4>
            
                <input name="sensitive_data" value="SD" id="id_sensitive_data" type="checkbox">
                <label for="id_sensitive_data" id="sensitive_data_label" class="has-popover" data-trigger="hover" data-html="true" data-content="Health related personal data of e.g. patient, operator, physician or FSE in databases, images, reports, logging with ePHI (On media, in memory, in transit and on display)" data-placement="right" data-container="body">
                    <i class="fas fa-lock"></i> Sensitive Data
                </label>

                <input name="personal_data" value="PD" id="id_personal_data" type="checkbox">
                <label for="id_personal_data" id="personal_data_label" class="has-popover" data-trigger="hover" data-html="true" data-content="Non-health related personal data of e.g. patient, operator, physician or FSE in databases, images, reports, logging (On media, in memory, in transit and on display)" data-placement="right" data-container="body">
                    <i class="fas fa-id-card"></i> Personal Data
                </label>

                <input name="hospital_network" value="HN" id="id_hospital_network" type="checkbox">
                <label for="id_hospital_network" id="hospital_network_label" class="has-popover" data-trigger="hover" data-html="true" data-content="Customer's IT assets accessible via network (communication from/to other modalities, PCs, PACS, any other node)." data-placement="right" data-container="body">
                    <i class="fas fa-hospital"></i> Hospital Network
                </label>

                <input name="audit_trail_data" value="ATD" id="id_audit_trail_data" type="checkbox">
                <label for="id_audit_trail_data" id="audit_trail_data_label" class="has-popover" data-trigger="hover" data-html="true" data-content="Audit trail data on customer server including confidential data like user logging information" data-placement="right" data-container="body">
                    <i class="fas fa-file-alt"></i> Audit Trail Data
                </label>

                <input name="configuration" value="CFG" id="id_configuration" type="checkbox">
                <label for="id_configuration" id="configuration_label" class="has-popover" data-trigger="hover" data-html="true" data-content="All system settings incl. BIOS, OS settings (registry), AVS settings, EPX database, logical interfaces, IP addresses, AE titles role permissions, user names & (encrypted) passwords, logging without ePHI." data-placement="right" data-container="body"">
                    <i class="fas fa-cogs"></i> Configuration
                </label>

                <input name="system_software" value="SS" id="id_system_software" type="checkbox">
                <label for="id_system_software" id="system_software_label" class="has-popover" data-trigger="hover" data-html="true" data-content="All software of the product/service including OS, middleware and the application software. Work station resident software: OS, COTS software, middleware (E.g. FlexLM, MergeCom, VNC, FSF), application software." data-placement="right" data-container="body">
                    <i class="fas fa-desktop"></i> System Software
                </label>

                <input name="hardware" value="HD" id="id_hardware" type="checkbox">
                <label for="id_hardware" id="hardware_label" class="has-popover" data-trigger="hover" data-html="true" data-content="E.g. Application Work Spot, PC, PDA, physical interfaces (E.g. Network Interface Card(s), Wireless, Serial, Bluetooth, Printers, USB, Proprietary), Smart card." data-placement="right" data-container="body">
                    <i class="fas fa-microchip"></i> Hardware
                </label>

                <input name="removable_media_with_ephi" value="RMP" id="id_removable_media_with_ephi" type="checkbox">
                <label for="id_removable_media_with_ephi" id="removable_media_with_ephi_label" class="has-popover" data-trigger="hover" data-html="true" data-content="Static mages and other ePHI stored on removable media (E.g. USB, CD, DVD, printouts)." data-placement="right" data-container="body">
                    <i class="fas fa-usb"></i> Removable Media with ePHI
                </label>

                <input name="removable_media" value="RM" id="id_RM" type="checkbox">
                <label for="id_RM" id="removable_label" class="has-popover" data-trigger="hover" data-html="true" data-content="Software CDs, Service binders, IfU" data-placement="right" data-container="body">
                    <i class="fas fa-hdd"></i> Removable Media
                </label>

                <input name="logging_data" value="LD" id="id_logging_data" type="checkbox">
                <label for="id_logging_data" id="logging_data_label" class="has-popover" data-trigger="hover" data-html="true" data-content="Logging data including confidential data like IP addresses, AE titles. It may even contain dumps of DICOM attributes, but only service engineers can switch this on." data-placement="right" data-container="body">
                    <i class="fas fa-database"></i> Logging Data
                </label>

                <input name="product_documentation" value="PDC" id="id_product_documentation" type="checkbox">
                <label for="id_product_documentation" id="product_documentation_label" class="has-popover" data-trigger="hover" data-html="true" data-content="Documentation as created for and provided to the users of the product e.g. Instruction for Use, Service Documentation, eDOC, FCO documentation and Training Tools. Documentation for internal use e.g. Architecture, topology and dataflow information." data-placement="right" data-container="body">
                    <i class="fas fa-file-code"></i> Product Documentation
                </label>

                <input name="personal" value="P" id="id_personal" type="checkbox">
                <label for="id_personal" id="personal_label" class="has-popover" data-trigger="hover" data-html="true" data-content="This is an asset group as indicated in last expanded columns" data-placement="right" data-container="body">
                    <i class="fas fa-user"></i> Personal
                </label>

                <input name="product" value="PRO" id="id_product" type="checkbox">
                <label for="id_product" id="product_label" class="has-popover" data-trigger="hover" data-html="true" data-content="This is an asset group as indicated in last expanded columns. These are all assets defining the product/device as a validated and regulated medical device." data-placement="right" data-container="body">
                    <i class="fas fa-box"></i> Product
                </label>

                <input name="network" value="NET" id="id_network" type="checkbox">
                <label for="id_network" id="network_label" class="has-popover" data-trigger="hover" data-html="true" data-content="This is an asset group as indicated in last expanded columns. These are the network assets used by the product which need to be protected." data-placement="right" data-container="body">
                    <i class="fas fa-network-wired"></i> Network
                </label>

                <input name="all_data" value="AD" id="id_all_data" type="checkbox">
                <label for="id_all_data" id="all_data_label" class="has-popover" data-trigger="hover" data-html="true" data-content="This is an asset group including all assets" data-placement="right" data-container="body">
                    <i class="fas fa-server"></i> All Data
                </label>

            
                <input name="asset_none" value="N" id="id_asset_none" type="checkbox">
                <label for="id_asset_none" id="id_asset_none_label">
                    <i class="fas fa-ban"></i> None
                </label>
            </div>
            
            <br><br>
            <h4 id="TechnicalImpact_Heading">Technical Impact
                <i class="fa-solid fa-circle-question has-popover small-help-icon" data-trigger="hover" data-html="true" data-content="Rate here the impact on the CIA weight factors of the assets involved" data-placement="right" data-container="body">
                </i>
            </h4>
            <div class="metric">
                <h4 id="Confidentiality_Heading">Confidentiality
                <i class="fa-solid fa-circle-question has-popover small-help-icon" data-trigger="hover" data-html="true" data-content="
                    How much is disclosed?<br>
                    <ul style='padding-left: 20px;'>
                        <li>No IP/personal data disclosed (2)</li>
                        <li>IP data disclosed (6)</li>
                        <li>Personal data disclosed (6)</li>
                        <li>Patient data disclosed (7)</li>
                        <li>All data disclosed (9)</li>
                    </ul>
                " 
                data-placement="right" data-container="body">
                </i>
                    
                </h4>
                <div class="rating-group">
                    <button type="button" name="Confidentiality"  value="0" data-factor="Confidentiality" class="btn-scale btn-scale-asc-0">0</button>
                    <button type="button" name="Confidentiality" value="1" data-factor="Confidentiality" class="btn-scale btn-scale-asc-1">1</button>
                    <button type="button" name="Confidentiality" value="2" data-factor="Confidentiality" class="btn-scale btn-scale-asc-2">2</button>
                    <button type="button" name="Confidentiality" value="3" data-factor="Confidentiality" class="btn-scale btn-scale-asc-3">3</button>
                    <button type="button" name="Confidentiality" value="4" data-factor="Confidentiality" class="btn-scale btn-scale-asc-4">4</button>
                    <button type="button" name="Confidentiality" value="5" data-factor="Confidentiality" class="btn-scale btn-scale-asc-5">5</button>
                    <button type="button" name="Confidentiality" value="6" data-factor="Confidentiality" class="btn-scale btn-scale-asc-6">6</button>
                    <button type="button" name="Confidentiality" value="7" data-factor="Confidentiality" class="btn-scale btn-scale-asc-7">7</button>
                    <button type="button" name="Confidentiality" value="8" data-factor="Confidentiality" class="btn-scale btn-scale-asc-8">8</button>
                    <button type="button" name="Confidentiality" value="9" data-factor="Confidentiality" class="btn-scale btn-scale-asc-9">9</button>
                </div>
            </div>
            <div class="metric">
                <h4 id="Integrity_Heading">Integrity
                    <i class="fa-solid fa-circle-question has-popover small-help-icon" data-trigger="hover" data-html="true" data-content="
                        How much damage?<br>
                        <ul style='padding-left: 20px;'>
                            <li>Minimal slightly corrupt data (1)</li>
                            <li>Minimal seriously corrupt data (3)</li>
                            <li>Extensive slightly corrupt data (5)</li>
                            <li>Extensive seriously corrupt data (7)</li>
                            <li>All data totally corrupt (9)</li>
                        </ul>
                    "
                    data-placement="right" data-container="body">
                    </i>
                </h4>
                <div class="rating-group">
                    <button type="button" name="Integrity"  value="0" data-factor="Integrity" class="btn-scale btn-scale-asc-0">0</button>
                    <button type="button" name="Integrity" value="1" data-factor="Integrity" class="btn-scale btn-scale-asc-1">1</button>
                    <button type="button" name="Integrity" value="2" data-factor="Integrity" class="btn-scale btn-scale-asc-2">2</button>
                    <button type="button" name="Integrity" value="3" data-factor="Integrity" class="btn-scale btn-scale-asc-3">3</button>
                    <button type="button" name="Integrity" value="4" data-factor="Integrity" class="btn-scale btn-scale-asc-4">4</button>
                    <button type="button" name="Integrity" value="5" data-factor="Integrity" class="btn-scale btn-scale-asc-5">5</button>
                    <button type="button" name="Integrity" value="6" data-factor="Integrity" class="btn-scale btn-scale-asc-6">6</button>
                    <button type="button" name="Integrity" value="7" data-factor="Integrity" class="btn-scale btn-scale-asc-7">7</button>
                    <button type="button" name="Integrity" value="8" data-factor="Integrity" class="btn-scale btn-scale-asc-8">8</button>
                    <button type="button" name="Integrity" value="9" data-factor="Integrity" class="btn-scale btn-scale-asc-9">9</button>
                </div>
            </div>
            <div class="metric">
                <h4 id="Availability_Heading">Availability
                    <i class="fa-solid fa-circle-question has-popover small-help-icon" data-trigger="hover" data-html="true" data-content="
                        Costly loss of availability?<br>
                        <ul style='padding-left: 20px;'>
                        <li>Minimal secondary services interrupted (1)</li>
                        <li>Minimal primary services interrupted (5)</li>
                        <li>Extensive secondary services interrupted (5)</li>
                        <li>Extensive primary services interrupted (7)</li>
                        <li>All services completely lost (9)</li>
                        </ul>
                    "
                    data-placement="right" data-container="body">
                  </i>
                </h4>
                <div class="rating-group">
                    <button type="button" name="Availability"  value="0" data-factor="Availability" class="btn-scale btn-scale-asc-0">0</button>
                    <button type="button" name="Availability" value="1" data-factor="Availability" class="btn-scale btn-scale-asc-1">1</button>
                    <button type="button" name="Availability" value="2" data-factor="Availability" class="btn-scale btn-scale-asc-2">2</button>
                    <button type="button" name="Availability" value="3" data-factor="Availability" class="btn-scale btn-scale-asc-3">3</button>
                    <button type="button" name="Availability" value="4" data-factor="Availability" class="btn-scale btn-scale-asc-4">4</button>
                    <button type="button" name="Availability" value="5" data-factor="Availability" class="btn-scale btn-scale-asc-5">5</button>
                    <button type="button" name="Availability" value="6" data-factor="Availability" class="btn-scale btn-scale-asc-6">6</button>
                    <button type="button" name="Availability" value="7" data-factor="Availability" class="btn-scale btn-scale-asc-7">7</button>
                    <button type="button" name="Availability" value="8" data-factor="Availability" class="btn-scale btn-scale-asc-8">8</button>
                    <button type="button" name="Availability" value="9" data-factor="Availability" class="btn-scale btn-scale-asc-9">9</button>
                </div>
            </div>
        </div>

        <div id="initial_risk_score" class="initial_risk_score risk_score">
            <p class="needBaseMetrics">Select values for all base metrics to generate score</p>
            <span id="InitialRiskScore" class="ScoreValue"></span>
            <span id="InitialRiskSeverity" class="ScoreSeverity"></span>
        </div>
    </fieldset>
</fieldset>

